.CardList {
  -moz-columns: auto 3;
  -webkit-columns: auto 3;
  columns: auto 3;
  width: 100%;
}

@media (max-width: 425px) {
  .CardList {
    display: flex;
    flex-wrap: wrap;
    columns: none;
  }
}
