.card-overlay {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.information-buttons {
  margin-top: 50px;
  flex-direction: row;
}
.information-button {
  color: white;
  font-size: 20px;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}

.information-button:hover {
  font-size: 30px;
  scale: (1.1);
  transition: all 0.2s;
}

.profile-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.profile-photo {
  align-self: center;
  border-radius: 8px;
  height: 50px;
}

.profile-info-name {
  display: flex;
  flex-direction: column;
}
