.header {
  position: fixed;
  z-index: 20;
  width: 100%;
}
.MainWrapper {
  position: relative;
  display: block;
  min-height: 100vh;
}
.content {
  flex-direction: column;
  min-width: 320px;
  padding-top: 37px;
  padding-bottom: 4em;
}

.footer {
  display: flex;
  width: 100%;
  height: 4em;
  font-family: Consolas, monospace;
  font-size: 14px;
  color: rgb(158, 158, 158);
  background-color: black;
  text-align: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

.footer span {
  margin: 2px;
}
/* при ховере исчезает подчеркивание. этот 👇🏽 код его чинит  */
.footer a:hover + a:hover:not(.SultanEsbolatov) {
  text-decoration: none;
  color: rgb(158, 158, 158);
}
.SultanEsbolatov,
.SultanEsbolatov:hover {
  color: rgb(158, 158, 158);
  text-decoration: underline;
}
.SultanEsbolatov:hover{
  filter: brightness(0.9);
}